.hidden{
    display:none;
}

.moments {
    width: 100%;
    margin: 0;
    padding: 10px;
    height: 100vh;
}

.profile-moments{
    width: 50%; 
    margin: 10px 30px; 
    padding: 10px; 
}

.post-form{
    display:flex; 
    flex-direction: column; 
}

.form-input{
    width: 100%;
}