
.moments-index-container{
    display:flex; 
    flex-direction:column;
     margin-left: 200px;
     margin-right: 200px;
     height: 745px;
     overflow: hidden;
}

.moments-index-top{
    display: flex; 
    justify-content: space-between;
}


.moments-index-chats-container{
    display: flex; 
    position: absolute; 
    height: 340px; 
    bottom: 0px; 
    z-index: 2; 
}

.moments {
    height: 100vh;
    width: 85%;
}



.moment-modal {
    position: absolute; 
    top: 50%; 
    left: 25%; 
    width: 50%; 
    padding: 10px;
    
    
}

.moment-pictures{
    max-width: 90%; 
}


.post-form{
    display:flex; 
    flex-direction: column; 
    margin-bottom: 50px;
    padding: 20px 10px 20px 10px;
}

.form-input{
    width: 100%;
}

.hidden {
    display: none;
}
