.group-index-container {
    display: flex;
    flex-direction: column;
}

.group-index-item-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.group-index-item-1 {
    width: 33%;
}

.group-index-item-2 {
    width: 33%;
}

.group-index-item-3 {
    width: 33%;
}

.groupshow-container{
    display:flex; 
    justify-content: space-around;
    flex-direction: column; 
}

.groupshow-left-bar {
    display: flex;
    flex-direction: column;
}

.left-groupshow{
    display: flex; 
    flex-direction: column;
}

.groupshow-moments-container{
    display: flex; 
    justify-content: space-around; 

}


.moment-show{
    background-color:white;
    border: 1px solid lightgray;
}

.groupshow-profile{
    background-color: white; 
    border: 1px solid lightgray; 
    border-radius: 1px; 
    box-shadow: 1px 1px 1px 1px lightblue;
}


.upload-button{
    border-radius: 3px; 
    padding: 10px; 
}




.groupshow-messages-container{
    display:flex; 
    justify-content: space-between;
}

#messages-container{
    background-color: white; 
    height: 600px; 
    padding: 10px; 
    display:flex; 
    flex-direction: column;
    justify-content: flex-end; 
}

.messages-container-left{
    display:flex; 
    flex-direction: column; 
    width: 50%; 
}

.groupshow-sidebar{
    width: 50%; 
    overflow:scroll; 
}

.segment{
    overflow: scroll; 
}

.overflow-scroll{
    overflow: scroll;
}
