.groups-index-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.groupshow-container {
    display: flex;
    justify-content: flex-start;
}



.right-groupshow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

.groupshow-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.group-index-item-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.group-index-item {
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px; 
}

.group-index-item:hover {
    background-color: rgb(249, 251, 252)
}


.group-index-item-1 {
    width: 33%;
}


.group-index-item-2 {
    width: 33%;
}

.item-messages {
    color: lightgray;
}


.moment-show{
    background-color:white;
    border: 1px solid lightgray;
}

.groupshow-profile{
    background-color: white; 
    border: 1px solid lightgray; 
    border-radius: 1px; 
    box-shadow: 1px 1px 1px 1px lightblue;
}


.upload-button{
    border-radius: 3px; 
    padding: 10px; 
}




.groupshow-messages-container{
    display:flex; 
    justify-content: space-between;
}



.segment{
    overflow: scroll; 
}

.overflow-scroll{
    overflow: scroll;
}

.side-bar{
    font-size: 14px; 
    margin: 0px 20px; 
    padding: 30px;
}

.group-modal {
    position: absolute;
    top: 250px;
    left: 120px;
    width: 50%;
    padding: 10px;
}