.messages-sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 0;
    background-color: white;
    width: 33%;
    min-height: 745px;
}


.messages-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
}

.messages {
    display: flex; 
    flex-direction: column;
    max-height: 595px;
    padding: 20px;
    width: 100%;
} 

.message {
    
}

.message-text {
    border-radius: 15px;
    margin-top: 2px;
    padding: 10px;
    background-color: rgb(233, 235, 238);
    width: auto;
    height: auto;
    float:left;
    clear: left;
    max-width: 80%;
}

.message-text-margin {
    border-radius: 15px;
    margin-top: 2px;
    padding: 10px;
    background-color: rgb(233, 235, 238);
    width: auto;
    height: auto;
    float:left;
    clear: left;
    max-width: 80%;
    margin-bottom: 20px;
}

.message-text-current-user {
    border-radius: 15px;
    margin-top: 2px;
    padding: 10px;
    background-color: #2995e7;
    width: auto;
    height: auto;
    float: right;
    clear: both;
    color: white;
    max-width: 80%;
}

.message-text-current-user-margin {
    border-radius: 15px;
    margin-top: 2px;
    padding: 10px;
    background-color: rgb(233, 235, 238);
    width: auto;
    height: auto;
    float: left;
    clear: left;
    max-width: 80%;
    margin-bottom: 20px;
}

.username {
    float: left; 
    clear: left; 
    color: rgb(172, 172, 172);
    font-weight:200;
}






.messages-form {
    padding: 10px;
    border-top: 1px solid lightgray;
    background-color: white; 
    height: 55px;
}

.messages-input {
    border: none;
}

.messages-input:focus {
    outline: none;
}