.messages-sidebar {
    display: flex;
    border: 1px solid lightgray;
    margin: 0;
    background-color: white;
    width: 40%;
}

.chat-sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 0;
    background-color: rgb(233, 235, 238);
}

.messages-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

.chatbox-form {
    padding: 10px;
    border-top: 1px solid lightgray; 
}
.chatbox-input {
    border: none; 
}

.chatbox-input:focus {
    outline:none; 
}


.chat-sidebar-item-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-sidebar-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.chat-sidebar-item:hover {
    background-color: rgb(222, 225, 228)
}

.chat-sidebar-item-1 {
    width: 33%;
}


.chat-view {
    padding: 10px; 
}
