.profile-moments-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.profile-container{
    margin: 15px;
    display: flex; 
    align-items: flex-start; 
    position:relative;
}

.profile-left-container{
    display: flex; 
    flex-direction: column;
}


.profile-moments {
    width: 100%;
    margin: 10px 30px;
    padding: 10px;
}
.profile-image-container{
    margin: 20px 50px 7px 50px;
    display: flex;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 30px;
}

.profile-image {
    border: 2px solid lightgray;
    border-radius: 2px;
}

.profile-name {
    align-self: center; 
}

.update-button {
    width: 30%;
    border-radius: .28571429rem;
    background-color: #55acee;
    color: #fff;
    text-shadow: none;
    background-image: none;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 0 1px #3b88c3 inset,
    0 2px 0 rgba(255, 255, 255, .15) inset;
    font-weight: 700;
    margin: .50em .25em 0 50px;
    padding: .8em .8em .8em;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    font-family: Oswald,
    'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
}

h1 {
    font-size: 30px; 
}
