.profile-container{
    margin: 15px;
    display: flex; 
    align-items: flex-start; 
    position:relative;
}

.profile-image-container{
    width: 50%; 
    margin: 50px; 
    display: flex;
    flex-direction: column; 
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 30px;
}

.profile-image {
    border: 1px solid lightgray;
    border-radius: 2px;
}
