
.vsc-initialized{
    background-color: #e9ebee;
}
.session_form-container{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 810px;
}

.login-container {
    position: relative; 
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    background-color: #ffffffd6;
    width: 600px;
    height: 400px;
    padding: 20px;
}

.login-header{
    display: flex; 
    justify-content: center; 
    padding: 20px; 
    margin-bottom: 20px; 
    width: 100%; 
    background: linear-gradient( #105d97, #57a0d8);
    color: white; 
}

.login-header a {
    color: white; 
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-input {
    margin: 2px;
    padding: 7px;
    width: 50%;
}
.signup-container {
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px;  */
    /* transform: translateY(10%); */
    position: relative;
    left: 230px;
}

.signup-header{
    display: flex; 
    justify-content: space-around; 
    padding: 18px; 
    margin-bottom: 20px; 
    width: 100%; 
    background: linear-gradient( #105d97, #57a0d8);
    color: white; 
}

.signup-form {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 90%; 
}

.signup-component{
    margin-bottom: 2px; 
}

.signup-button {
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.input{
    padding: 7px;
}

#button{
    margin: 10px; 
    padding: 7px;
    width: 47%; 
}


.footer-container {
    background-color: white; 
    width: 100%; 
    border-top: 1px solid lightgray; 
}

.footer {
    display: flex; 
    justify-content: center; 
    padding: 10px; 
}

.footer-icons{
    margin-left: 10px; 
    margin-right: 10px; 
}

.errors {
    color: red;
    align-self: center;
}