
.vsc-initialized{
    background-color: #e9ebee;
}
.session_form-container{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

.login-header{
    display: flex; 
    justify-content: center; 
    padding: 20px; 
    margin-bottom: 20px; 
    width: 100%; 
    background-color: linear-gradient( #2185d0, white);
    color: white; 
}

.login-header a {
    color: white; 
}
.signup-header{
    display: flex; 
    justify-content: flex-start; 
    padding: 20px; 
    margin-bottom: 20px; 
    width: 100%; 
    background: linear-gradient( #105d97, #57a0d8);
}

.signup-container{
    border: 1px solid lightgray; 
    box-shadow: 2px 2px 2px 2px lightgrey; 
    background-color: #ffffffd6;
    width: 600px; 
    height: 600px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 20px; 
    transform: translateY(10%);
} 

.login-container{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    background-color: #ffffffd6;
    width: 600px;
    height: 600px;
    padding: 20px;
    transform: translateY(10%);
}


.login-form{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.input-list{
    list-style: none;
    display:flex; 
    flex-direction: column; 
    align-items: center;
    position: relative;
}

.input{
    margin: 2px; 
    padding: 7px;
}

#button{
    margin: 10px; 
    padding: 7px;
}

 .button{
    color: green;
}

.signup-button{
    position: absolute; 
    bottom: 40px; 
    right: 100px;
}